<!-- NAVBAR -->
<div class="navbar-wrapper">
    <nav class="navbar">
        <div class="logo">
            <a href="{{ site.baseurl }}/">
                <h1>\s</h1>
                <h2>whitespace</h2>
            </a>
        </div>
        <hr>
        <ul class="navbar-inner">
            <li class="nav-item">
                <a href="{{ site.baseurl }}/posts" class="">posts</a>
            </li>
            <li class="nav-item">
                <a href="{{ site.baseurl }}/about" class="">about</a>
            </li>
        </ul>
        <ul class="social-icons">
            <li class="s-icon twitter">
                <a href="https://twitter.com/whitespace_tech" class="" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/social-twitter.svg" alt="twitter" width="60%"/>
                </a>
            </li>
            <li class="s-icon facebook">
                <a href="https://www.facebook.com/Whitespace-1491578744479495/" target="_blank" class="" style="margin-top: 18%;">
                    <img src="{{ site.baseurl }}/assets/img/social-facebook.svg" alt="facebook" width="70%" />
                </a>
            </li>
        </ul>
        <div class="nav-footer">
            <p class="copyright">Copyright (c) 2015, <a href="http://davidleger.me" target="_blank">David Leger</a>.</p>
        </div>
    </nav>
</div>

<!-- Mobile Nav-->

<div class="mobile-nav">
    <span class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </span>
    <h2><a href="{{ site.baseurl }}/">whitespace</a></h2>
</div>

<!-- END NAVBAR -->