.post-container{
    margin: 20px;
    box-shadow: 0 0 20px $dark;
    
    @media(max-width: 800px){
        margin: 10px;
        font-size: 0.8em;
    }
    .post-header{
        background: $dark;
        
        padding: 20px;
        text-align: center;
        color: white;
        img{
            clear: both;
            display: block;
            margin: auto;
            
            
            min-height: 100px;
            min-width: 125px;
            max-height: 150px;
            max-width: 200px;
            @media(max-width: 800px){
                height: 80px;
                max-width: 100px;
            }
        }
        
        .post-meta{
            color: $accent;
            font-size: 1em;
        }
        
        .post-title{
            font-size: 1.8em;
        }
        
    }
    
    .post-body{
        padding: 30px;
        background: white;
        @media(max-width: 800px){
            padding: 15px;
        }
        
        h1,h2,h3,h4,h5,h6{
            margin-top: 1.5em;
        }
        
        h4,h5,h6{
            font-weight: 500;
        }
        
        hr{
            margin: 30px 0;
            border: none;
            background: $light;
            height: 1px;
        }
        
        p{
            line-height: 1.6em;
            font-weight: 300;
            
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
        
        img{
            display: block;
            margin: 30px auto;
            //width: 
            max-width: 100%;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 10px $dark;
        }
        
        ul, ol{
            font-weight: 300;
            padding-left: 50px;
        }
        
        ul{
            list-style: none;
            padding-left: 30px;
            li:before{
                content: '- ';
            }
        }
        
        pre{
            background: rgba($light, 0.5);
            //color: $dark;
            
            font-family: Menlo;
            padding: 15px;
        }
        
        blockquote{
            font-size: 1.5em;
            font-style: italic;
            
            @media(max-width: 800px){
                    margin: 10px;
            }
            
            p{ 
                color: $accent; 
                margin-bottom: 10px;
                
            }
            ul {
                margin: 0;
                padding-left: 40px;
                li:last-child{
                    display: inline-block;
                    font-size: 0.8em;
                    list-style: none;
                    color: $accent;
                    &:before{ content: ''; }
                }
            }
            
        }
    }
    
    
    
}

.post-tags{
    clear: both;
    display: inline-block;
    list-style: none;
    padding: 0;
    
    font-size: 0.8em;
    .tag{
        background: $primary;
        margin: 5px;
        padding: 2px 5px;
        //height: 20px;
        width: auto;
        float: left;
        color: white;
        
        &.education{
            background: #61bd4f;
        }
        &.design{
            background: #f2d600;
        }
        &.how-to{
            background: #ffab4a;
        }
        &.opinion{
            background: #00c2e0;
        }
        &.professional{
            background: #0079bf;
        }
        &.programming{
            background: #eb5a46;
        }
    }
}

.posts{
    a{
        text-decoration: none;
    }
    .title-bar{
        
        margin: 20px;
        padding: 5px 20px;
        background: $dark;
        color: white;
        box-shadow: 0 0 20px $dark;
        
        @media(max-width: 800px){
            margin: 20px 0px;
        }
    }
    .posts-list{
        
        
        padding: 0 20px;
        list-style: none;
        @media(max-width: 800px){
            padding: 0 10px;
        }
        .post-item{
            position: relative;
            box-shadow: 0 0 20px $dark;
            background: white;
            width: 100%;
            margin-bottom: 10px;
            
            .thumb-wrapper{
                position: absolute;
                height: 100%;
                width: 75px;
                background: $dark;
                top: 0;
                bottom: 0;
                left: 0;
            }
            .thumbnail{
                position: relative;
                height: 100%;
                max-width: calc(100% - 20px);
                max-height: calc(100% - 20px);
                display: block;
                padding: 10px;
                margin: auto;
            }
            
            .post-info{
                padding: 10px 10px 0 10px;
                margin-left: 75px;
                font-size: 0.8em;
                
                @media(max-width: 800px){
                    font-size: 0.65em;
                }
                .post-meta{
                    font-size: 1em;
                    color: $accent;
                    margin: 0;
                }
                .post-title{
                    margin: 0;
                }
                .post-tags{
                    margin-left: -5px;
                }
            }
        }
    }
}