body{
    background: $twitter;
}

.content-wrapper{
    
    float: left;
    margin-left: 280px;
    display: block;
    width: calc(100% - 290px);
    max-width: 1400px;
    min-height: 100vh;
    //margin: 0;
    @media(max-width: 800px){
        width: 100%;
        margin-top: 60px;
        margin-left: 0;
    }
    
    transition: width 0.5s ease-in-out;
}