---
layout: default

comments: true
---

<div class="content-wrapper">
    
    <section class="post-container">
        <div class="post-header">
            <img class="post-img" src="{{ site.baseurl }}/assets/img/post/{{ page.img }}" alt="Post Image Description" />
            <ul class="post-tags">
                {% for c in page.categories %}
                <li class="tag {{c}}">{{ c }}</li>
                {% endfor %}
            </ul>
            <h3 class="post-meta">{{ page.date | date: "%d %B, %Y" }} | {{ page.readTime }} minute read</h3>
            <h2 class="post-title">{{ page.title }}</h2>
        </div>
        <div class="post-body">
            {{ content }}
            <hr>
            <h2>Share This Post:</h2>
            <script type="text/javascript">var switchTo5x=true;</script>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "b41bea2d-a28c-45d6-8d8e-e6c51d68929c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_linkedin_large' displayText='LinkedIn'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
            <span class='st_email_large' displayText='Email'></span>
        </div>
    </section>
    
    <section class="posts">
        <div class="title-bar">
            <h3>recent posts</h3>
        </div>
        <ul class="posts-list">
            {% for post in site.posts | limit: 4 %}
            <a href="{{post.url}}">
            <li class="post-item">
                <img class="thumbnail" src="{{ site.baseurl }}/assets/img/post/{{ post.img }}" alt="thumbnail" />
                <div class="post-info">
                    <h3 class="post-meta">{{ post.date | date: "%d %B, %Y" }} | {{ post.readTime }} minute read</h3>
                    <h2 class="post-title">{{ post.title }}</h2>
                    <ul class="post-tags">
                        {% for c in post.categories %}
                            <li class="tag {{c}}">{{ c }}</li>
                        {% endfor %}
                    </ul>
                </div>
                
            </li>
            {% endfor %}
        </ul>
    </section>
    {% if page.comments %}
    <section class="">
        <div class="post-container">
        <div class="post-body">
            <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//0xfff-space.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        </div>
    </section>
    {% endif %}
</div>